body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

h1 {
    color: #5C5C5C;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
}

h2 {
    color: #5C5C5C;
    font-size: 18px;
    margin-top: 0;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin-top: 100px;
}

h4 {
    text-align: center;
    font-size: 24px;
}

p {
    text-align: center;
}

.bio {
    color: #5C5C5C;
    font-size: 14px;
}



.me {
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: #5C5C5C;
    margin-top: 40px;
}




.about {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.grey {
    height: 3px;
    background-color: #484849;
    border: none;
    width: 50px;
}

.yellow {
    border-top: 5px double #484849;
    width: 250px;
}

.about-container {
    background: url('background.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
}

.box {
    float: left;
    
    width: 42.5%;
    margin-left: 5%;
    margin-top: 80px;
}

.clear {
    clear: both;
}

